.calculator {
    max-width: 215px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 5px;
}
.button {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    cursor: pointer;
}
.button:active {
    background-color: #d0cfcf;
}
.buttonAdd {
    background-color: #ffa181;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    cursor: pointer;
}
.buttonAdd:active {
    background-color: #FFA181AE;
}











